@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/variants';

@layer base {
  :root {
    --color-background-one: rgb(253 254 255);
    --color-background-two: rgb(231 240 247);
    --color-background-three: rgb(218 227 234);
    --color-background-four: rgb(196 201 212);
    --color-background-five: rgb(180 185 190);
    --color-background-six: rgb(164 168 174);
    --color-background-one-dark: rgb(41, 49, 56);
    --color-background-two-dark: rgb(67, 75, 84);
    --color-background-three-dark: rgb(87, 95, 104);
    --color-background-four-dark: rgb(104, 111, 121);
    --color-background-five-dark: rgb(119, 126, 136);
    --color-background-six-dark: rgb(134, 141, 151);
    --color-text-one: 81 92 102;
    --color-text-two: 52 58 64;
    --color-text-one-dark: rgb(255, 255, 255);
    --color-text-two-dark: rgb(222, 225, 227);
    --color-prim-100: #6f50cc;
    --color-prim-200: #8162d2;
    --color-prim-300: #9275d8;
    --color-prim-400: #a388de;
    --color-prim-500: #b39be4;
    --color-prim-600: #c2aeea;
    /* ... */
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}
